@import "./src/styles/mixins.scss";
.header{
  display: flex;
  justify-content: space-between;
  .title{
    @include title();
  }
  .logout{
    display: flex;
    align-items: center;
    span{
      cursor: pointer;
    }
  }
}
.mainBlock{
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  height: 61vw;
  .sideBarBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .presentationBlock{
    @include formBlockStyle(664px, 100%);
    @include flexColumn(space-between);
    padding: 1rem;
    box-sizing: border-box;
    .countSelectedHotels{
      width: 100%;
    }

  }
}