@import "./src/styles/mixins.scss";

.form {
  @include flexColumn(space-evenly);
  position: absolute;
  left: calc(50% - 409px / 2 - 0.5px);
  top: calc(50% - 382px / 2);
  @include formBlockStyle(409px, 382px);
  .title{
    @include title();
  }
  .label{
    @include labelForInputStyle();
    .input{
      @include inputStyle();

    }
    .error{
      color: red;

    }
  }
.button{
  @include buttonStyle();
}

}